:host {
    display: block;
    height: 100vh;
    position: relative; // Add this
    background: url("../assets/imgs/fondo-completo.webp");
    background-position: center;
    background-size: cover;
}

#main-container {
    margin: auto;
    position: relative; // Add this
    z-index: 1; // Add this
}

#particle-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; // Change this from -1 to 0
}
