<app-navbar></app-navbar>
<div class="home-container">
  <div class="static-overlay cyber-glitch-1"></div>

  <section id="hero-section">
    <h1 id="title" class="glitch-title" data-text="Loot Goblins">
      Loot Goblins
    </h1>
    <h3 class="subtitle one">A Once Human Warband</h3>
    <h3 class="subtitle two">P_Clash-X0048 Rosetta</h3>
  </section>

  <section class="specializations">
    <h2>Specializations</h2>
    <p class="text-margin">
      Discover the unique abilities and roles within our warband. Each member is
      crucial to our success, don't be afraid to ask for help or advice!
    </p>
    <button routerLink="/specs" class="glitch-btn cyber-button">
      Explore Specializations
      <span class="glitchtext">n00b</span>
    </button>
  </section>

  <section class="server-faction">
    <h2>Server & Faction</h2>
    <p>
      Currently, we are battling on the server
      <span class="glitch-text" data-text="PVP01-X0031">PVP01-X0031</span>
    </p>
    <p>
      We are 
      <span class="glitch-text" data-text="RosettaXx3X">Rosetta</span> faction,
      Come join us and be part of the warband !!
    </p>
  </section>

  <div class="image-container">
    <img id="main-img" src="assets/imgs/main_goblin.png" alt="Loot Goblin" />
  </div>

  <section class="mission-vision">
    <h2>Mission & Vision</h2>
    <p>
      We want to make a welcoming and safe space where we all can grow and have
      fun enjoying the game experience at it fullest.
    </p>
    <p>Our first and foremost objective is to have fun !!</p>
    <p>
      So while keeping a nice and friendly environment we aim to win conquest
      wars and get as much starchrum as we can. In the spirit of cooperation and
      understanding we try to demand as little from our members as possible
      because we know life is already too complicated as it is like to place too
      much extra preassure, that being said, it doesnt mean chaos, whenever we
      fight we plan ahead and need everyone to follow the rules and the main
      strategy.
    </p>
  </section>
</div>
