<section id="hero-section">
    <div id="title" class="">
        <h1 class="mb-4 text-4xl font-extrabold red sans">Loot Goblins</h1>
        <img src="../../../assets/imgs/main_goblin.png" alt="loot goblin logo" srcset="" id="main-img">
        <h4 class="mb-6 text-lg font-normal">A PvP Oriented Once-Human Warband that operates on server NA PvP01-00001</h4>
        <a class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900" 
            href="specs">Specializations</a>
    </div>
</section>
